@model FinalProject.Models.HighScore

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HighScore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recording)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recording)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HighScore_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
