@model IEnumerable<FinalProject.Models.HighScore>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recording)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recording)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HighScore_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HighScore_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HighScore_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
