@model FinalProject.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NosContainers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NosContainers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkinRed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkinRed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkinBlue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkinBlue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkinGreen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkinGreen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkinPurple)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkinPurple)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkinChrome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkinChrome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
