@model FinalProject.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentLevel" class="control-label"></label>
                <input asp-for="CurrentLevel" class="form-control" />
                <span asp-validation-for="CurrentLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NosContainers" class="control-label"></label>
                <input asp-for="NosContainers" class="form-control" />
                <span asp-validation-for="NosContainers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cash" class="control-label"></label>
                <input asp-for="Cash" class="form-control" />
                <span asp-validation-for="Cash" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Nos" /> @Html.DisplayNameFor(model => model.Nos)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SkinRed" /> @Html.DisplayNameFor(model => model.SkinRed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SkinBlue" /> @Html.DisplayNameFor(model => model.SkinBlue)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SkinGreen" /> @Html.DisplayNameFor(model => model.SkinGreen)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SkinPurple" /> @Html.DisplayNameFor(model => model.SkinPurple)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SkinChrome" /> @Html.DisplayNameFor(model => model.SkinChrome)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
