<!--
  Author:    Jonathon Smith and Giovanni Varuloa and Hank Gansert
  Partner:   None
  Date:      12/6/19
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jonathon Smith and Giovanni Varuloa and Hank Gansert - This work may not be copied for use in Academic Coursework.

  I, Jonathon Smith and Giovanni Varuloa and Hank Gansert, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

    View for the leaderboard.

-->

@model IEnumerable<FinalProject.Models.User>

@{
    IEnumerable<HighScore> collection = ViewData["Level_1"] as IEnumerable<HighScore>;
    List<HighScore> level_1 = new List<HighScore>(collection);

    collection = ViewData["Level_2"] as IEnumerable<HighScore>;
    List<HighScore> level_2 = new List<HighScore>(collection);

    collection = ViewData["Level_3"] as IEnumerable<HighScore>;
    List<HighScore> level_3 = new List<HighScore>(collection);

    collection = ViewData["Level_4"] as IEnumerable<HighScore>;
    List<HighScore> level_4 = new List<HighScore>(collection);

    collection = ViewData["Level_5"] as IEnumerable<HighScore>;
    List<HighScore> level_5 = new List<HighScore>(collection);

}


<link rel="stylesheet" href="~/css/leaderboard.css">

<h1>High Scores</h1>

<h3>Level 1 Highscores</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in level_1)
        {
            <tr>
                <td>
                    @Model.Where(o => o.UserID == user.UserID).FirstOrDefault().UserName
                </td>
                <td>
                    @user.time
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Level 2 Highscores</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in level_2)
        {
            <tr>
                <td>
                    @Model.Where(o => o.UserID == user.UserID).FirstOrDefault().UserName
                </td>
                <td>
                    @user.time
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Level 3 Highscores</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in level_3)
        {
            <tr>
                <td>
                    @Model.Where(o => o.UserID == user.UserID).FirstOrDefault().UserName
                </td>
                <td>
                    @user.time
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Level 4 Highscores</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in level_4)
        {
            <tr>
                <td>
                    @Model.Where(o => o.UserID == user.UserID).FirstOrDefault().UserName
                </td>
                <td>
                    @user.time
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Level 5 Highscores</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in level_5)
        {
            <tr>
                <td>
                    @Model.Where(o => o.UserID == user.UserID).FirstOrDefault().UserName
                </td>
                <td>
                    @user.time
                </td>
            </tr>
        }
    </tbody>
</table>
