<!--
  Author:    Jonathon Smith and Giovanni Varuloa and Hank Gansert
  Partner:   None
  Date:      12/6/19
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jonathon Smith and Giovanni Varuloa and Hank Gansert - This work may not be copied for use in Academic Coursework.

  I, Jonathon Smith and Giovanni Varuloa and Hank Gansert, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

    View for the shop.

-->


@{
    ViewData["Title"] = "Shop";
    User user = ViewData["UserInfo"] as User;
}


<link rel="stylesheet" href="~/css/shop.css">

<h1>Shop</h1>

@{
    var moneyID = "gamerpoints";
}

<!--sets Header for displaying money-->
<h2 id="gamerpoints">You currently have @user.Cash Gamer Points</h2>

<!--Sets up header and button for buying points-->
<h3> Buy more Gamer Points!</h3>
<div style="text-align: center">
    <form onsubmit="buy_points(event, '@user.Email', @user.Cash, '@moneyID' )" asp-action="BuyPoints" method="POST">
        <button type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
    </form>
</div>

<!--displays table for the shop
    each row has an image and a description along with a button to buy the item
    buying uses javascript to make the purchases and sweetalerts for visual feedback-->
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>NOS</p>
                    <img src="~/images/nos_tank.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    @{
                        var parID = "containerDisplay";
                    }
                    <p>Adds a NOS container to your inventory that can be used to give a speed boost to your next race!</p>
                    <p id="containerDisplay">You currently have @user.NosContainers containers!</p>
                    <p>Costs 100 GamerPoints</p>
                    <form onsubmit="buy_nos(event, '@user.Email', '@parID', @user.NosContainers, @user.Cash, '@moneyID' )" asp-action="BuyNos" method="POST">
                        <button type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Red Skin</p>
                    <img src="~/images/bike_red.png" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a red color to your dirtbike!</p>
                    <p> This is the default bike.</p>
                    @{
                        if (user.SkinRed == true)
                        {
                            <button type="button" class="btn" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            <form>
                                <button type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            </form>

                        }
                    }

                </td>
            </tr>
            <tr>
                <td>
                    <p>Blue Skin</p>
                    <img src="~/images/bike_blue.png" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a blue color to your dirtbike!</p>
                    <p>Costs 200 GamerPoints</p>
                    @{
                        if (user.SkinBlue == true)
                        {

                            <button type="button" class="btn disabled" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            <form onsubmit="buy_blue(event, '@user.Email', @user.Cash, '@moneyID' )" asp-action="BuyBlue" method="POST">
                                <button id="bluebtn" type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            </form>

                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Green Skin</p>
                    <img src="~/images/bike_green.png" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a green color to your dirtbike!</p>
                    <p>Costs 200 GamerPoints</p>
                    @{
                        if (user.SkinGreen == true)
                        {

                            <button type="button" class="btn disabled" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            <form onsubmit="buy_green(event, '@user.Email', @user.Cash, '@moneyID' )" asp-action="BuyGreen" method="POST">
                                <button id="greenbtn" type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            </form>

                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Purple Skin</p>
                    <img src="~/images/bike_purple.png" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a purple color to your dirtbike!</p>
                    <p>Costs 200 GamerPoints</p>
                    @{
                        if (user.SkinPurple == true)
                        {

                            <button type="button" class="btn disabled" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            <form onsubmit="buy_purple(event, '@user.Email', @user.Cash, '@moneyID' )" asp-action="BuyPurple" method="POST">
                                <button id="purplebtn" type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            </form>

                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Chrome Skin</p>
                    <img src="~/images/bike_chrome.png" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a chrome color to your dirtbike!</p>
                    <p>Costs 500 GamerPoints</p>
                    @{
                        if (user.SkinChrome == true)
                        {

                            <button type="button" class="btn disabled" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            <form onsubmit="buy_chrome(event, '@user.Email', @user.Cash, '@moneyID' )" asp-action="BuyChrome" method="POST">
                                <button id="chromebtn" type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            </form>
                        }
                    }
                </td>
            </tr>

        </tbody>
    </table>
</body>


@section Scripts
{
    <script src="~/js/shopPurchases.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>


}