
@{
    ViewData["Title"] = "Shop";
    User user = ViewData["UserInfo"] as User;
}


<link rel="stylesheet" href="~/css/shop.css">

<h1>Shop</h1>

<h2>You currently have @user.Cash GamerPoints</h2>

<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>NOS</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    @{
                        var parID = "containerDisplay";
                    }
                    <p>Adds a NOS container to your inventory that can be used to give a speed boost to your next race!</p>
                    <p id="containerDisplay">You currently have @user.NosContainers containers!</p>
                    <p>Costs 100 GamerPoints</p>
                    <form onsubmit="buy_nos(event, '@user.Email', '@parID', @user.NosContainers, @user.Cash )" asp-action="BuyNos" method="POST">
                        <button type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Red Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a red color to your dirtbike!</p>
                    <p> This is the default bike.</p>
                    @{
                        if (user.SkinRed == true)
                        {
                            <button type="button" class="btn" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            <form>
                                <button type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            </form>

                        }
                    }

                </td>
            </tr>
            <tr>
                <td>
                    <p>Blue Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a blue color to your dirtbike!</p>
                    <p>Costs 200 GamerPoints</p>
                    @{
                        if (user.SkinBlue == true)
                        {

                            <button type="button" class="btn disabled" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            // <form onsubmit="buy_blue(event, 'bluebtn', @user.Cash )" asp-action="BuyBlue" method="POST">
                            <button id="bluebtn" type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            // </form>

                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Green Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a green color to your dirtbike!</p>
                    <p>Costs 200 GamerPoints</p>
                    @{
                        if (user.SkinGreen == true)
                        {

                            <button type="button" class="btn disabled" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            <form>
                                <button type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            </form>

                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Purple Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a purple color to your dirtbike!</p>
                    <p>Costs 200 GamerPoints</p>
                    @{
                        if (user.SkinPurple == true)
                        {

                            <button type="button" class="btn disabled" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            <form>
                                <button type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            </form>

                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Chrome Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a chrome color to your dirtbike!</p>
                    <p>Costs 500 GamerPoints</p>
                    @{
                        if (user.SkinChrome == true)
                        {

                            <button type="button" class="btn disabled" style="background-color: green" disabled>Purchased</button>
                        }
                        else
                        {
                            <form onsubmit="" asp-action="BuyThing" method="POST">
                                <button type="submit" class="btn" style="background-color: #D64933">Buy now!</button>
                            </form>

                        }
                    }
                </td>
            </tr>

        </tbody>
    </table>
</body>


@section Scripts
{
    <script src="~/js/shopPurchases.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>


}